<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/bundle.js" defer></script>
    <meta charset="utf-8">
    <title>Notes</title>
  </head>
  <body>
    <textarea class="notes" placeholder="Start typing your notes here..."></textarea>
  </body>
</html>
